.add-zone-container {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    width: 80%;
  }
  
  .add-zone-container h2 {
    font-size: 1.5rem;
  }
  
  .add-zone-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
  }
  
  .add-zone-container input,select, textarea {
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
  }
  
  .add-zone-container button {
    background-color: #343541;
    color: #ececf1;
    border: none;
    border-radius: 4px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .add-zone-container button:hover {
    background-color: #202123;
  }
  