@import './colors.css';

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* min-width: 100vw; */
  /* padding: 2rem; */
  text-align: center;
  padding-top: 4em;
  background-color: var(--back);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin: .5em;
  padding: .5em;
  min-height: 60vh;
  width: 40vw;
  max-width: 550px;
}

.read-the-docs {
  color: #888;
}
/* 
.nav{ 
  margin: left
} */