:root {
  --white: #fff;
    --background-color: #f7f7f8;
    --back: #202123;
    --high: #37373d;
    --ground: #3a3a3f;
    --code: #1f1f1f;
    --hover: #2c2d30;
    --card: #2a2e35;
    --card-light: #e9eaed;;
    --green: #45bfa4;
    --blue: #424497;
    --font: #d0d4df;
    --dark-font: #202123;
    --font-dark: #202123;
    --border: #4d4d4f;
    --git-blue: #1f6feb;
    --git-green: #40b951;
    --git-orange: #ffa657;
    --git-light-green: #7ee787;
    --git-soft-blue: #b8d6fc;
    --git-soft-green: #c4eccb;
    --git-green-dark: #33433d;
    --git-red: #fa454a;
    --git-soft-red: #6e3e42;
    --git-orange-two: #c38000;
    --git-orange-dark: #5d4d34;
    --browser-green: #35d4c7;
    --brower-orange: #f39766;
    --browser-blue: #8ab5f8;
    --browser-white: #e9eaed;
    --browser-html-blue: #5db1d7;


  }