@import './colors.css';


.logout {
  background-color: #202123;
  color: #ececf1 !important;
  border: none;
  border-radius: 4px;
  padding: 0.3em 0.7em;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  /* top: 10px; */
  border: 1px solid #4d4d4f;
}

.logout:hover {
  background-color: #343541;

}

.system-container {
  background-color: var(--back);
  color: var(--font);
  display: flex;
  align-items: center;
  position: fixed; /* Change to 'fixed' */
  top: 0; /* Stick to the top */
  left: 0; /* Optionally, stick to the left */
  right: 0; /* Optionally, stick to the right */
  margin: 0 !important;
  padding: 1em;
  margin-top: 1em;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  max-height: 12vh;
  min-height: 12vh;
  z-index: 999;
}


.system-name {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.system-image {
  width: 50px;
  height: 50px;
  background-color: #94e1f7;
  box-shadow: 0 4px 8px rgba(7, 7, 7, 0.1);

  border-radius: 50%;
  position: relative;
  top: 4px;
  /* right: 10px; */
}

.system-image-border {
  width: 58px;
  height: 58px;
  background-color: #94e1f7;
  border-radius: 50%;
  position: relative;
}

.city {
  position: relative;
  /* right: 250px;
    top: 25px; */
}

@media (max-width: 768px) {
  .system-name {
    /* padding: .5em !important; */
    font-size: .9em;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  }

  .system-container {
    padding: .5em;
    margin-top: 1em;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    max-height: 10vh;
    min-height: 10vh;
  }


  

  .logout {
    font-size: .8em;
   
  }
}
