@import "./colors.css";

.data-blocks{
  background-color: var(--card);
    color: var(--font);
    padding: .5em;
    border: 1px solid var(--border);
    width: 100%;
 
    border-radius: 5px;

}

.det-print {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: 1fr;
}

.det-row {
  display: grid;
  font-size: 0.8em;
  grid-template-rows: 1fr;
}

.easy-pad {
  padding: 1em;
}



.font-up {
  font-size: 1.8em;
  padding: 0.15em;
}

.grid-card {
  background-color: var(--back);
  /* box-shadow: 0 4px 8px rgba(7, 7, 7, 0.1); */
  padding: 0.5em;
  /* border-radius: 12px; */
  border-radius: 5px;

}

.grid-card:nth-child(1) {
  grid-area: c1;
  background-color: var(--back);
  color: var(--font);
}

.grid-card:nth-child(2) {
  grid-area: c2;
  display: flex;
}

.grid-card:nth-child(3) {
  grid-area: c3;
  background-color: var(--back);
  color: var(--font);
  padding: .5em;

}



.even, .odd {

}

.grid-card:nth-child(4) {
  grid-area: c5;
  /* justify-content: center; */
  /* align-items: center; */
}

.grid-card:nth-child(5) {
  grid-area: c6;
}

.grid-card:nth-child(6) {
  grid-area: c7;
  background-color: #202123;
}

.grid-card:nth-child(7) {
  grid-area: c8;
  background-color: #202123;
}

.left {
  align-items: start;
  display: flex;
  font-weight: 700;
}

.main {
  background-color: var(--high);

  display: grid;
  gap: 0.5em;
  grid-template-areas:
    "c1 c1 c1"
    "c2 c2 c3"
    "c2 c2 c3"
    "c5 c5 c5"
    "c6 c6 c6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 2fr 1fr;
  padding: 0.5em;
}

.negi-change {
  color: #ff1313;
}

.no-pad {
  padding: 0 !important;
}




.posi-change {
  color: #39b77c;
  font-weight: 700;
}

.space-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.square-img {
  border-radius: 0px !important;
  min-height: 25vh;
  max-width: 100%;
  padding: 0 !important;
}

.square-img img {
  object-fit: cover;
  max-width: 97vw;
  overflow: hidden;
  position: relative;
}

.stack {
  align-items: center;
  display: block;
  justify-content: center;
}

.text {
  color: var(--font);
  font-weight: 400;
}

.title {
  /* font-size: 1.5em; */
  background-color: var(--card);
    color: var(--font);
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
   
    margin-bottom: 20px;
  color: #202123;
  font-weight: 600;
  padding: 1em;
}

.desc-card {
  background-color: var(--card);
    color: var(--font);
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
   
    margin-bottom: 20px;
  color: var(--font);
  padding: 1em;
}

.zone-num {
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .easy-pad {
    padding: 0.5em;
  }
  .grid-card {
    grid-area: initial !important;
  }
  .main {
    display: grid;
    grid-template-areas: initial;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6);
    max-width: 100vw;
  }
}
